@model rpmDEL.Models.user
@{
    ViewData["Title"] = "Редактирование профиля";
}

@using System.Security.Claims

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->

    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <link rel="stylesheet" type="text/css" href="~/css/profile.css">
    <link rel="stylesheet" type="text/css" href="~/css/mainpage.css">

    <style>
        * {
            margin: 0px;
            padding: 0px;
        }

        html, body {
            height: 100%;
        }

        #middle {
            display: table;
            width: 100%;
            height: 100%;
            margin-top: 10px;
        }

        #sidebar {
            display: table-cell;
            width: 100%;
            background: rgba(80,80,80,0.5);
        }

        .round {
            border-radius: 100px;
            border: 3px solid white;
            box-shadow: 0 0 7px #666;
        }

        #autherror {
            color: white;
            background: #000;
            width: -webkit-fill-available;
            height: auto;
            border-style: solid;
            border-color: #000;
            text-align: center;
            font-family: OpenSans-Regular;
            border-top-right-radius: 12px;
            border-top-left-radius: 12px;
        }
    </style>
</head>

<header class="titleheader" style="min-width: 100%; min-height: 100%;">
    <form>
        <div class="form-inline form-group">
            <label class="title" style="margin-right: 20px;">Twitter navernoye</label>
            @if (User.IsInRole("admin"))
            {
                <a class="logout" asp-action="main" asp-controller="home" style="margin-left: 3px;"><span class="entypo-vcard"></span></a>
            }
            <a class="logout" asp-action="profile" asp-controller="home" style="margin-left: 3px;"><span class="entypo-user"></span></a>
            <a class="logout" asp-action="ProfileEdit" asp-controller="home" asp-route-id="@Model._ID" style="margin-left: 3px"><span class="entypo-cog"></span></a>
            <a class="logout" asp-action="logout" asp-controller="acc"><span class="entypo-logout"></span></a>
        </div>
    </form>
</header>

<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-b-160 p-t-50">
                <form class="login100-form validate-form" asp-action="ProfileEdit" asp-controller="home" asp-anti-forgery="true" method="post" enctype="multipart/form-data">
                    <input type="hidden" asp-for="_ID" />
                    <input type="hidden" asp-for="RoleId" />
                    <input type="hidden" name="oldlogin" value="@(User.FindFirst(x => x.Type == ClaimsIdentity.DefaultNameClaimType).Value)" />
                    <input type="hidden" name="oldimagepath" value="@Model._imgpath" />
                    <span class="login100-form-title p-b-43">
                        Account Edit
                    </span>
                    <figure id="card" style="height: auto; border-bottom-left-radius: 12px; border-bottom-right-radius: 12px; border-top-right-radius: 12px; border-top-left-radius: 12px;">
                        <div id="autherror" asp-validation-summary="ModelOnly"></div>
                        <div class="wrap-input111 rs3" style="width: 100%; height: 200px; margin-left: 0;">
                            <img style="content: url(@Model._imgpath); width: 150px; height: 150px">
                            <input class="input111" type="file" name="file">
                        </div>

                        <div class="wrap-input111 validate-input" data-validate="Не указан логин" style="width: 100%;">
                            <p><u>Логин: </u></p>
                            <input class="input111" style="width: 100%;" type="text" asp-for="_login" placeholder="Логин" autocomplete="off" required>
                        </div>

                        <div class="wrap-input111 validate-input" data-validate="Не указан пароль" style="width: 100%;">
                            <p><u>Пароль: </u></p>
                            <input class="input111" style="width: 100%;" type="text" asp-for="_pass" placeholder="Пароль" required>
                        </div>

                        <div class="wrap-input111 validate-input" data-validate="Не указана фамилия" style="width: 100%;">
                            <p><u>Фамилия: </u></p>
                            <input class="input111" style="width: 100%;" type="text" asp-for="_Fam" placeholder="Фамилия" required>
                        </div>

                        <div class="wrap-input111 validate-input" data-validate="Не указано имя" style="width: 100%;">
                            <p><u>Имя: </u></p>
                            <input class="input111" style="width: 100%;" type="text" asp-for="_Name" placeholder="Имя" required>
                        </div>

                        <div class="wrap-input111" style="width: 100%;">
                            <p><u>Отчество: </u></p>
                            <input class="input111" style="width: 100%;" type="text" asp-for="_Surname" placeholder="Отчество">
                        </div>

                        <div class="wrap-input111 validate-input" data-validate="Не указан Email" style="width: 100%;">
                            <p><u>Почта: </u></p>
                            <input class="input111" style="width: 100%;" type="email" asp-for="_EMail" placeholder="Почта" required>
                        </div>

                        <div class="wrap-input111" style="width: 100%; height: 200px">
                            <p><u>Описание: </u></p>
                            <textarea class="input111" style="width: 100%; height: 200px; resize: none" type="text" asp-for="_Description" placeholder="Описание"></textarea>
                        </div>

                        <div class="container-login100-form-btn">
                            <input type="submit" class="login100-form-btn" value="Edit" hidden>
                            <button class="login100-form-btn" style="border-bottom-left-radius: 12px; border-bottom-right-radius: 12px">
                                Изменить данные
                            </button>
                        </div>
                    </figure>
                    <div class="text-center w-full p-t-23">
                        <a class="txt1" name="back" asp-action="profile" asp-controller="home" style="color: black">
                            НАЗАД
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>

    <script src="~/vendor/animsition/js/animsition.min.js"></script>

    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="~/vendor/select2/select2.min.js"></script>

    <script src="~/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/vendor/daterangepicker/daterangepicker.js"></script>

    <script src="~/vendor/countdowntime/countdowntime.js"></script>

    <script src="~/js/main.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"rayId":"696cb7772a3d1630","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2021.9.0","si":100}'></script>
</body>